In [ ]:
import pandas as pd

# Sample Data
data = {
    'EmployeeID': [101, 102, 103, 104, 105],
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Department': ['HR', 'Engineering', 'Engineering', 'HR', 'Finance'],
    'JobTitle': ['Manager', 'Engineer', 'Engineer', 'Clerk', 'Analyst'],
    'Salary': [75000, 95000, 80000, 50000, 60000],
    'HoursWorked': [40, 45, 40, 38, 42],
    'Bonus': [5000, 7000, 3000, 2000, 4000]
}

# Create a DataFrame
df = pd.DataFrame(data)

In [ ]:
# your code here

grouped_by_dept = df.groupby(['Department']).agg(
    Salary = ('Salary', 'sum'),
    HoursWorked = ('HoursWorked', 'sum')
    ).reset_index()


# prints your grouped_by_dept results
print(grouped_by_dept)
#https://www.geeksforgeeks.org/python-pandas-dataframe-groupby/

    Department  Salary  HoursWorked
0  Engineering  175000           85
1      Finance   60000           42
2           HR  125000           78

In [ ]:
grouped_by_dept1 = df.groupby('Department')[['Salary', 'HoursWorked']].sum().reset_index()
# prints your grouped_by_dept results
print(grouped_by_dept1)

    Department  Salary  HoursWorked
0  Engineering  175000           85
1      Finance   60000           42
2           HR  125000           78

##  Question2
The next step is to create the agg_data variable. This should group the data by 'Department' and calculate the following aggregate values:


For 'Salary', calculate the sum, mean, and maximum.
For 'HoursWorked', calculate the sum and mean.
Make sure to reset the index after grouping.

In [ ]:
agg_data = df.groupby('Department').agg({
    'Salary': ['sum', 'mean','max'],
    'HoursWorked': ['sum', 'mean']
}).reset_index()


print(agg_data)

    Department  Salary                 HoursWorked
                   sum     mean    max         sum  mean
0  Engineering  175000  87500.0  95000          85  42.5
1      Finance   60000  60000.0  60000          42  42.0
2           HR  125000  62500.0  75000          78  39.0

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7f5a1fe00bd0>

# Practice Contintued
## Question 3
We need to create a new column called TotalSalary.

This should be calculated by adding the 'Salary' and 'Bonus' columns together for each row.

Then:

calculate the total salary by summing the 'TotalSalary' column and store it in the variable total_salary.
create a new column called SalaryPercentage, which should represent each row's 'TotalSalary' as a percentage of the total_salary.

In [ ]:
# https://stackoverflow.com/questions/41286569/get-total-of-pandas-column
# Total salary
df['TotalSalary'] = df['Salary'] + df['Bonus']

#salary Percentage
#df['SalaryPercentage'] = df['TotalSalary'] /df['Salary'] * 100
#df['SalaryPercentage'] = df['Salary']  / df['TotalSalary'] *100

total_salary = df['TotalSalary'].sum()
df['SalaryPercentage'] = df['TotalSalary'] /total_salary * 100

#prints results
print(df)

   EmployeeID     Name   Department  JobTitle  Salary  HoursWorked  Bonus  \
0         101    Alice           HR   Manager   75000           40   5000
1         102      Bob  Engineering  Engineer   95000           45   7000
2         103  Charlie  Engineering  Engineer   80000           40   3000
3         104    David           HR     Clerk   50000           38   2000
4         105      Eva      Finance   Analyst   60000           42   4000

   TotalSalary  SalaryPercentage
0        80000        106.666667
1       102000        107.368421
2        83000        103.750000
3        52000        104.000000
4        64000        106.666667

## Question  4

we need to check if any employees have a TotalSalary greater than or equal to 85,000.
If there are any such employees, print a message recommending cuts along with the names of those employees.
If no employees meet the criteria, print a message indicating that no cuts are needed at this location.

In [ ]:


high_salary = df[df['TotalSalary'] >= 85000]
#print(high_salary)
print(f"We recommend cutting the following employees:" )
for name in high_salary['Name']:
    print(name)

# Convert the Report to a Function

## Question 5

In [ ]:
#import pandas as pd

# Sample Data
data = {
    'EmployeeID': [101, 102, 103, 104, 105],
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Department': ['HR', 'Engineering', 'Engineering', 'HR', 'Finance'],
    'JobTitle': ['Manager', 'Engineer', 'Engineer', 'Clerk', 'Analyst'],
    'Salary': [75000, 95000, 80000, 50000, 60000],
    'HoursWorked': [40, 45, 40, 38, 42],
    'Bonus': [5000, 7000, 3000, 2000, 4000]
}

# Create a DataFrame
df = pd.DataFrame(data)


# Grouping by department and calculating the sum of Salary and HoursWorked
grouped_by_dept = df.groupby('Department').agg({
    'Salary': 'sum',
    'HoursWorked': 'sum'
}).reset_index()

# Aggregating Salary and HoursWorked for sum, mean, and max values
agg_data = df.groupby('Department').agg({
    'Salary': ['sum', 'mean', 'max'],
    'HoursWorked': ['sum', 'mean']
}).reset_index()

# Creating TotalSalary column
df['TotalSalary'] = df['Salary'] + df['Bonus']

# Calculating the total salary and the SalaryPercentage for each row
total_salary = df['TotalSalary'].sum()
df['SalaryPercentage'] = df['TotalSalary'] / total_salary * 100

# Generating the report
print("=== Department Summary Report ===")
print("\nGrouped by Department (Salary and Hours Worked):")
print(grouped_by_dept)

print("\nAggregated Data (Salary - Sum, Mean, Max; Hours Worked - Sum, Mean):")
print(agg_data)

print("\nDetailed Data with Total Salary and Salary Percentage:")
print(df[['Department', 'TotalSalary', 'SalaryPercentage']])

# Printing out some summary information
print("\nTotal Salary Across All Departments: ${:,.2f}".format(total_salary),'\n')

# Check if any employee's TotalSalary is greater than or equal to 85000
high_salary_employees = df[df['TotalSalary'] >= 85000]

if not high_salary_employees.empty:
    print('We recommend cutting the following employees:')
    for name in high_salary_employees['Name']:
        print(name)
else:
    print('No cuts needed at this location')

=== Department Summary Report ===

Grouped by Department (Salary and Hours Worked):
    Department  Salary  HoursWorked
0  Engineering  175000           85
1      Finance   60000           42
2           HR  125000           78

Aggregated Data (Salary - Sum, Mean, Max; Hours Worked - Sum, Mean):
    Department  Salary                 HoursWorked
                   sum     mean    max         sum  mean
0  Engineering  175000  87500.0  95000          85  42.5
1      Finance   60000  60000.0  60000          42  42.0
2           HR  125000  62500.0  75000          78  39.0

Detailed Data with Total Salary and Salary Percentage:
    Department  TotalSalary  SalaryPercentage
0           HR        80000         20.997375
1  Engineering       102000         26.771654
2  Engineering        83000         21.784777
3           HR        52000         13.648294
4      Finance        64000         16.797900

Total Salary Across All Departments: $381,000.00

We recommend cutting the following employees:
Bob

# Question 6
The client has approved the report and is satisfied with the formatting. Our next step is to convert the report into a function, allowing us to consistently generate the same report using data from any location.

Make a function called location_report()

In [ ]:
import pandas as pd

# Sample Data
data = {
    'EmployeeID': [101, 102, 103, 104, 105],
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Department': ['HR', 'Engineering', 'Engineering', 'HR', 'Finance'],
    'JobTitle': ['Manager', 'Engineer', 'Engineer', 'Clerk', 'Analyst'],
    'Salary': [75000, 95000, 80000, 50000, 60000],
    'HoursWorked': [40, 45, 40, 38, 42],
    'Bonus': [5000, 7000, 3000, 2000, 4000]
}

# Create a DataFrame
df = pd.DataFrame(data)


# -----------------------------------------------------
# convert this to a function location_report()
# to take in a dataframe as an argument
# and return the report
# -----------------------------------------------------
def location_report(df):
    #print("=== Department Summary Report ===")
    # Grouping by department and calculating the sum of Salary and HoursWorked
    grouped_by_dept = df.groupby('Department').agg({
        'Salary': 'sum',
        'HoursWorked': 'sum'
    }).reset_index()

    # Aggregating Salary and HoursWorked for sum, mean, and max values
    agg_data = df.groupby('Department').agg({
        'Salary': ['sum', 'mean', 'max'],
        'HoursWorked': ['sum', 'mean']
    }).reset_index()

    # Creating TotalSalary column
    df['TotalSalary'] = df['Salary'] + df['Bonus']

    # Calculating the total salary and the SalaryPercentage for each row
    total_salary = df['TotalSalary'].sum()
    df['SalaryPercentage'] = df['TotalSalary'] / total_salary * 100

    # Generating the report
    print("=== Department Summary Report ===")
    print("\nGrouped by Department (Salary and Hours Worked):")
    print(grouped_by_dept)

    print("\nAggregated Data (Salary - Sum, Mean, Max; Hours Worked - Sum, Mean):")
    print(agg_data)

    print("\nDetailed Data with Total Salary and Salary Percentage:")
    print(df[['Department', 'TotalSalary', 'SalaryPercentage']])

    # Printing out some summary information
    print("\nTotal Salary Across All Departments: ${:,.2f}".format(total_salary),'\n')

    # Check if any employee's TotalSalary is greater than or equal to 85000
    high_salary_employees = df[df['TotalSalary'] >= 85000]

    if not high_salary_employees.empty:
        print('We recommend cutting the following employees:')
        for name in high_salary_employees['Name']:
            print(name)
    else:
        print('No cuts needed at this location')

#return report

# runs your function on the above df
location_report(df)

## Question 7
We now have a function that can generate the report for any location. This allows us to import the function into other files, enabling us to dynamically provide new location data without the need to rewrite or copy-paste the code.

While we can't implement this in OpenClass, we will demonstrate it using a new dataset from the London location. Letâ€™s see if it performs as expected.

Additionally, try copying the code into VS Code, set up the function, and call it within a file to process the London data!

In [ ]:
import pandas as pd

data = {
    'EmployeeID': [101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115],
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Frank', 'Grace', 'Hannah', 'Ivy', 'Jack', 'Kim', 'Liam', 'Megan', 'Nathan', 'Olivia'],
    'Department': ['HR', 'Engineering', 'Engineering', 'HR', 'Finance', 'Sales', 'Sales', 'Engineering', 'HR', 'Finance', 'Sales', 'HR', 'Engineering', 'Sales', 'HR'],
    'JobTitle': ['Manager', 'Engineer', 'Engineer', 'Clerk', 'Analyst', 'Sales Rep', 'Sales Rep', 'Engineer', 'Clerk', 'Analyst', 'Sales Rep', 'Manager', 'Engineer', 'Sales Rep', 'Clerk'],
    'Salary': [75000, 95000, 80000, 50000, 60000, 70000, 72000, 85000, 52000, 62000, 75000, 77000, 80000, 73000, 54000],
    'HoursWorked': [40, 45, 40, 38, 42, 40, 38, 45, 39, 41, 42, 40, 44, 39, 38],
    'Bonus': [5000, 7000, 3000, 2000, 4000, 5000, 4000, 6000, 2500, 3000, 5500, 4500, 6000, 5000, 2500]
}

# Create DataFrame
london = pd.DataFrame(data)


def location_report(df):
  # Grouping by department and calculating the sum of Salary and HoursWorked
  grouped_by_dept = df.groupby('Department').agg({
      'Salary': 'sum',
      'HoursWorked': 'sum'
  }).reset_index()

  # Aggregating Salary and HoursWorked for sum, mean, and max values
  agg_data = df.groupby('Department').agg({
      'Salary': ['sum', 'mean', 'max'],
      'HoursWorked': ['sum', 'mean']
  }).reset_index()

  # Creating TotalSalary column
  df['TotalSalary'] = df['Salary'] + df['Bonus']

  # Calculating the total salary and the SalaryPercentage for each row
  total_salary = df['TotalSalary'].sum()
  df['SalaryPercentage'] = df['TotalSalary'] / total_salary * 100

  # Generating the report
  print("=== Department Summary Report ===")
  print("\nGrouped by Department (Salary and Hours Worked):")
  print(grouped_by_dept)

  print("\nAggregated Data (Salary - Sum, Mean, Max; Hours Worked - Sum, Mean):")
  print(agg_data)

  print("\nDetailed Data with Total Salary and Salary Percentage:")
  print(df[['Department', 'TotalSalary', 'SalaryPercentage']])

  # Printing out some summary information
  print("\nTotal Salary Across All Departments: ${:,.2f}".format(total_salary),'\n')

  # Check if any employee's TotalSalary is greater than or equal to 85000
  high_salary_employees = df[df['TotalSalary'] >= 85000]

  if not high_salary_employees.empty:
      print('We recommend cutting the following employees:')
      for name in high_salary_employees['Name']:
          print(name)
  else:
      print('No cuts needed at this location')

  return

# test the function with londons data
location_report(london)

=== Department Summary Report ===

Grouped by Department (Salary and Hours Worked):
    Department  Salary  HoursWorked
0  Engineering  340000          174
1      Finance  122000           83
2           HR  308000          195
3        Sales  290000          159

Aggregated Data (Salary - Sum, Mean, Max; Hours Worked - Sum, Mean):
    Department  Salary                 HoursWorked
                   sum     mean    max         sum   mean
0  Engineering  340000  85000.0  95000         174  43.50
1      Finance  122000  61000.0  62000          83  41.50
2           HR  308000  61600.0  77000         195  39.00
3        Sales  290000  72500.0  75000         159  39.75

Detailed Data with Total Salary and Salary Percentage:
     Department  TotalSalary  SalaryPercentage
0            HR        80000          7.111111
1   Engineering       102000          9.066667
2   Engineering        83000          7.377778
3            HR        52000          4.622222
4       Finance        64000          5.688889
5         Sales        75000          6.666667
6         Sales        76000          6.755556
7   Engineering        91000          8.088889
8            HR        54500          4.844444
9       Finance        65000          5.777778
10        Sales        80500          7.155556
11           HR        81500          7.244444
12  Engineering        86000          7.644444
13        Sales        78000          6.933333
14           HR        56500          5.022222

Total Salary Across All Departments: $1,125,000.00

We recommend cutting the following employees:
Bob
Hannah
Megan